/* Semantic Layout */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-image: url("https://e0.pxfuel.com/wallpapers/439/659/desktop-wallpaper-topography-abstract-black-texture-1440p-resolution-abstract-and-background.jpg");
    margin: auto;
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h2, h3 {
    color: #fff;
}

p {
    color: #fff;
}

/* Navigation Bar */

.navbar {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    height: 100px;
    /*background-color: #511908;*/
    background-color: #9f3703;
}

.placeholder {
    height: 100px;
    width: 100%;
    background-color: #511908;
}

.navbar .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex ;
    padding-right: 30px;
}

.navbar ul li {
    margin-left: 30px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: bisque;
}

ul {
    list-style-type: none;
    font-size: clamp(10px, 2rem, 2rem);
}

#text-logo { 
    object-fit: scale-down;
    height: 80px;
    width: auto;
    margin-left: 10px;
}


/* Image Container */

.wallpaper {
   display: flex;
    width: 50%;
    height: auto;
    margin: 0px 0px;
    padding: 0px 0px;
}

img {
    width: 100%;
    object-fit: cover;
}


/* Text Container */

.container {
    display: inline;
    width: 50%;
    height: auto;
    margin: 0px 0px;
    padding: 0px 0px;
    color: white;
    /*background-color: #9f3703;*/
    background: rgb(251,86,4);
    background: linear-gradient(180deg, rgba(251,86,4,1) 0%, rgba(251,170,4,1) 100%);
    justify-content: center;
    align-items: center;
}

.text-box {
    text-align: center;
    width: 80%;
    margin: auto;
}

.text-box h2 {
    font-size: 4.5vw;
    line-height: 1.2;
}

.text-box p {
    font-size: 2.3vw;
}


/* Lower Field */

.boxes .box {
    display: flex;
    width: 100%;
}

.box {
    flex: 1;
    justify-content: space-evenly;
    margin: 40px auto 20px;
    text-align: center;

}

h3 {
    margin-top: 0%;
}

/* Discord Container */

.Discord {
    width: 25%;
    height: auto;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-decoration: none;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.Discord::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5865F2;
    transition: all 0.5s;
    z-index: -1;
    transform: translateX(-100%);
  }

  .Discord:hover::before {
    transform: translateX(0);
  }


/* Instagram Container */

.Instagram {
    width: 25%;
    height: auto;
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}


.Instagram::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://t3.ftcdn.net/jpg/03/41/32/38/360_F_341323809_iPCUliTOGf41jLepKLMWb6Gat0jHSgz1.jpg);
    object-fit: cover;
    transition: all 0.5s;
    z-index: -1;
    transform: translateX(-100%);
  }

  .Instagram:hover::before {
    transform: translateX(0);
  }

/* E-Mail Container */

.email {
    width: 25%;
    height: auto;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-decoration: none;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.email::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: peru;
    transition: all 0.5s;
    z-index: -1;
    transform: translateX(-100%);
  }

  .email:hover::before {
    transform: translateX(0);
  }


/* Footer */

footer {
    
    width: 100%;
    text-align: center;
}


/* Compatibility */

@media only screen and (max-width: 768px) {

   

    .wallpaper {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .text-box h2 {
        font-size: 8vw;
        margin-bottom: 0%;
    }

    .text-box p {
        font-size: 4.5vw;
        margin-top: 0%;
    }

    #text-logo {
        height: 20px;
    }

    .navbar {
        height: 60px;
    }

    .placeholder {
        height: 60px;
    }

    ul {
        font-size: 1rem;
    }

    .boxes .box {
        flex-wrap: wrap;
    }

    .Discord {
        width: 80%;
        margin-bottom: 20px;
    }

    .Instagram {
        width: 80%;
        margin-bottom: 20px;
    }

    .Instagram::before {
        object-fit: scale-down;
        object-position: center;
        background: url(https://e1.pxfuel.com/desktop-wallpaper/404/801/desktop-wallpaper-instagram-gradient-instagram-size.jpg);
    }

    .email {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) and (min-width: 414px) {
    
    .navbar ul li {
        font-size: clamp(8px, 10px, 13px);
        margin-left: 15px;
    }

    .navbar ul {
        padding-right: 1vw;
    }
}
